 
  .iconMobile {
    width: 64px;
    height: 64px;
  }
  
  .iconDesktop {
    width: 49px;
    // height: 49px;
    height: auto;
    transition: all 0.2s ease;
  }
 

  .text {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #000000;
    text-align: center;
  }

  .cart {
    width: 380px;
    height: 218px;
    padding: 16px 12px 24px 12px;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cartDropDownMobile {
    width: 100%;
    // max-width: 800px;
    height: 218px;
    left: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22.04px;
    padding-top: 24px;  
}

.cartDropDownDesktop {
  position: fixed;
  right: 0;
  top: 64px;
  width: 497px;
  height: 586px;
  background-color: white;
  box-shadow: 2px 4px 10px 0px #AFAFAF40;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding-top: 241px;
  padding-bottom: 48px; 
}

.wrapper{
  width: 121;
  height: 105;
  top: 241px;
  left: 188px;
  opacity: 0.5;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.hidden {
  display: none;
}
  
.orderHistoryButton {
  background-color: white;
  border: 1px solid black;
  padding: 12px 24px;

  letter-spacing: 2px;

  cursor: pointer;
  
  font-family: Helvetica Neue;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 2.67px;
  text-align: center;
  text-transform: uppercase;

}