$mim-width: 900px;

.card {
    width: 245px;
    height: 232.80392456054688px;
    background-color: #F9F4EA;
    margin: 0 10px;
    flex-shrink: 1 1 245px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    
    @media screen and (min-width: $mim-width) {
        width: 379px;
        height: 405px;
    }
}

.name {
    font-family: Helvetica Neue;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2.67px;
    color: #000000;
    padding-left: 16px;
    padding-top: 16px;

    @media screen and (min-width: $mim-width) {
        font-size: 40px;
        line-height: 47px;
        text-align: center;
    }
} 

.imageContainer {
    position: relative;
    width: 245px;
    height: 152px;
    width: 100%;

    @media screen and (min-width: $mim-width) {
        width: 379px;
        height: 235px;
        
    }
}

.content {
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.97px;

    @media screen and (min-width: $mim-width) {
        font-size: 24px;
        line-height: 30px;
        font-family: Helvetica Neue;

    }
}

.children {
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.97px;
    padding-left: 16px;
    padding-top: 8px;

    @media screen and (min-width: $mim-width) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px; 
        font-size: 24px;
        line-height: 30px;

    }
  }