@import '../../styles/mixins';
@import '../../styles/variables';

.heroContainer {
    width: 100%;
    min-width: 335px;
    aspect-ratio: 1440 / 696; 
    position: relative;
    overflow: hidden;
    @include flex(column,center,center);
}

.heroImage {
    object-fit: cover;
    z-index: 0;
}

.searchWrapper{
    width: 335;
    height: 144;
    gap: 18px;
    @include padding-block(36px,126px);

}

.overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 776px;
    height: 221px;
    @include padding-block(36px,126px);
    z-index: 1;
  }

.overlayMobile {
    position: relative;
    z-index: 1;
    width: 335px;
    height: 144px;
    @include padding-block(18px,24px);
    background-color: rgba(255, 255, 255, 0.85);
    @include flex-column;
    justify-content: space-between;
}
  
.heroText{
    font-family: $font-family-main;
    font-weight: $font-weight-light;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1.97px;
    color: black;
    max-width: 402px;    
}
.heroTextMobile {
    font-size: 20px;
    line-height: 28px;
    max-width: 100%;
    text-align: center;
    height: 144px;
  }

.heroSearch {
    width: 400px;
    max-width: 550px;
  
    & div {
      width: 505px;
      height: 48px;
      border-radius: 4px;
      align-items: center;
      gap: 16px;
    }
  
    input {
      background: transparent;
      font-size: 24px;
      width: 100%;
      height: 38px;
      border: none;
      outline: none;
    }
  
    .icon {
      width: 32px;
      height: 32px;
    }
  }