$menu-footer-border-color: #F2F2F2;
$font-color: #000000;
$background-color: #FFFFFF;
$border-color-main: #000000;

$font-family-main: "Helvetica Neue";
$font-weight-light: 200;
$font-weight-regular: 400px;
$font-size-default: 18px;
$font-size-small: 14px;
$letter-spacing-wide: 1.92px;

$icons-size: 24px;

$mim-width: 769px;
$max-mobile-width: 375px;
$max-desktop-width: 1440px;
$min-desktop-width: 1024px;

$breakpoint-mobile: 0;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$padding-horizontal-mobile: 16px;
$padding-horizontal-desktop: 32px;

$gap-small-mini: 16px;
$gap-small: 24px;
$gap-medium: 32px;
$gap-large: 64px;