@import '../../styles/mixins';
@import '../../styles/variables';


.container {
  text-align: center;
  padding: 40px 0;
  background-color: $light-gray-color;
}

.title {
  font-size: $font-size-default;
  text-transform: uppercase;
  letter-spacing:1.25px;
  font-family: $font-family-main;
  margin-bottom: 40px;
  font-weight: $font-weight-light;
}

.iconsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

}

.iconBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  p {
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.97px;
    text-align: center;

  }
}

@media (min-width: 768px) {
  .iconsWrapper {
    flex-direction: row;
    justify-content: center;
  }
}

@include respond-to(desktop){
    .iconsWrapper {
        flex-direction: row;
        justify-content: center;
    }
  .iconImage{
        width: 78px;
        height: 60px;
    }
}

.iconImage{
    width: 64px;
    height: 64px;
}
