@import '../../styles/mixins';
@import '../../styles/variables';


.container {
  height: 558px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
      height: 342px;
      display: flex;
      padding-top: 80px;
    }
}
.innerContainer {
  height: 486px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-gray-color;
  width: 100%;
  padding: 0 0;
  gap: 32px;
   
   @media screen and (min-width: 768px) {
        background-color: $light-gray-color;
        padding: 37px 0;
        gap: 32px;
        height: 265px;
        gap: 35;
        padding: 0 0;
    }
}

.title {
  font-family: Helvetica Neue;
  font-weight: 200;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  @media  screen and (min-width:768px){
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 2.14px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
  }
    
}

.iconsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  @media screen and (min-width:768px) {
    gap:76px;
    
  }

}

.iconBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;

  p {
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.97px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    gap: 32px;
    p {
        font-family: Helvetica Neue;
        font-weight: 200;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 1.97px;
        text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .iconsWrapper {
    flex-direction: row;
    justify-content: center;
  }
}

@include respond-to(desktop){
    .iconsWrapper {
        flex-direction: row;
        justify-content: center;
    }
  .iconImage{
        width: 77px;
        height: 60px;
    }
}

.iconImage{
    width: 46px;
    height: 46px;
    @media screen and (min-width:768px){
      width: 77px;
      height: 60px;
    }
}
