@import '../../styles/mixins';
@import '../../styles/variables';

.name{
    font-family: $font-family-main;
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1.92px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 22px;

    @include respond-to(tablet){
        display: none;
    }
}

.desktopOnly {
    @media screen and (max-width: 768px) {
    display: none;
    }
}

.cardsSection {
  max-width: 1400px;
  margin: 0 auto;
  padding-inline: 32px;
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-content: start;
    justify-items: start;
    max-width: 1200px;

    @media screen and (min-width: 1195px) {
        padding: 70px 32px;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        padding: 32px 0px;
        justify-items: center;
        margin: 0 auto;
        max-width: 1200px;
    }

    @media screen and (min-width: 900px) and (max-width: 1194px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        padding: 32px 20px;
        justify-content: center;
        justify-items: center;
        margin: 0 auto;
    }

    @media screen and (min-width: 696px) and (max-width: 899px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        padding: 32px 20px;
        justify-content: center;
        justify-items: center;
        margin: 0 auto;
    }

    @media screen and (max-width: 469px) {
        grid-template-columns: 1fr;
        gap: 24px;
        padding: 26px 20px;
        justify-content: center;
        justify-items: center;
        margin: 0 auto;
    }
    
}


.details {
    padding-left: 20px;
    text-align: left;
    gap:18px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    @media screen and (min-width: 768px) {
        padding-top: 8px;
        align-items: center;
        padding-left:0;
        gap:3px;
    }
}

.headerName {
    font-family: Helvetica Neue;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2.67px;
    font-size: 18px;

    @media screen and (min-width: 768px) {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 3.67px;

        
    }

}

.lowerText{
    display: flex;
    flex-direction: column;
    gap:17px;
    @media screen and (min-width: 768px) {
        gap:33px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

.chef {
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.97px;


    @media screen and (min-width: 768px) {
        font-weight: 200;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 1.97px;

        
    }
}

.open {
    padding-left: 1px;
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1.97px;
}

.closed {
  font-size: 14px;
  color: #d32f2f;
}

.cardsLayout{
    max-width:375;

    @media screen and (min-width:695px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0 auto;
        max-width: 1186px;
        padding-top:11px;
    }

}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 24px;
  padding: 32px 20px;
  margin: 0 auto;
  justify-content: start;
  justify-items: start;

  @media screen and (min-width: 768px) {
    justify-content: center;
    justify-items: center;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 696px) and (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 695px) {
    grid-template-columns: 1fr;
  }
}

