@import '../../styles/mixins';
@import '../../styles/variables';

.name{
    font-family: $font-family-main;
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1.92px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 24px;

    @include respond-to(tablet){
        display: none;
    }

}

.desktopOnly {
    @media screen and (max-width: 768px) {
    display: none;
    }
}