@import '@/../../../src/styles/variables';

.wrapper {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.navbarWrapper{
    position: sticky;
    top:-1;
    z-index: 10;
    background-color: $background-color;

     transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform;
}