@import '../../styles/mixins';
@import '../../styles/variables';

body{
  @include navbar-font;
}

.navbar {
    min-width: 375px;
    height: 46px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: $background-color;
    
    justify-content: space-between;
  @media screen and (min-width:768px){
    max-width: 1186px; 
    margin: 0 auto;
    box-sizing: border-box;
    height: 64px;
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  


}
  
.hamburger {
  font-size: $icons-size;
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 20px;
  padding-top:4px;
}
.logoWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo.hidden {
  @include visible-state(false, -50%);
}

.searchTitle {
  @include navbar-font;
}

.icons {
  display: flex;
  gap: 18px;
  font-size: 20px;
  padding-right: 18px;
  padding-top:4px;

  @include visible-state(true, 0);
  @media screen and (min-width: 768px){
    padding-right:0;
    gap: 24px;
    font-size: 24px;
  }
  
}

.icons.hidden {
  @include visible-state(false, 0);
}

.logoIcon{
  gap:15.07px;
  display: flex;
  flex-direction: row;
}

.buttonIconsStyle{  
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: $min-desktop-width) {
  .navbar {
    width: menu-width-desktop;
    height: 64px  ; 
  }
}

.desktopContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $gap-medium;
  max-width: 1440px;
  margin: 0 auto; 
  width: 100%;

  @media screen and (min-width: $min-desktop-width) {
    gap: $gap-large;
  }
}

.leftSection {
  display: flex;
  align-items: center;
  gap:32px;
}

.brandName {
  font-family: $font-family-main;
  font-weight: $font-weight-light;
  font-size: 27px;
  line-height: 100%;
  letter-spacing: 1.35px;
  display: flex;
  align-items: center;
}

.links {
    gap: 30px;
    display: flex;
    padding-top: 4px;
  

  a {
    font-family: $font-family-main;
    color: #000000;
    text-decoration: none;
    letter-spacing: 1.92px;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 200;
    line-height: 100%;

  }
}

.navLink {
  text-decoration: none;
  color: black;
  position: relative;
  padding-bottom: 4px;
}

.active {
  border-bottom: 2px solid orange;
}
