@import '../../styles/mixins';
@import '../../styles/variables';

.section{
    background-color: $background-color;
    padding-left: 20px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media screen and (min-width: $mim-width) {
        padding-top: 85px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        max-width: 1186px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
.section--chef_restaurant{
    padding-left: 20px;
    padding-bottom: 48px;
    padding-top: 43px;
    
     @include respond-to(desktop){
        .linkWrapper{
            display:none ;
        }
    }
    @media screen and (min-width: $mim-width) {
        display: flex;
        align-items: flex-start; 
        margin-left: 0; 
        margin-right: 0; 
        max-width: 1200px; 
        margin: 0 auto;
        box-sizing: border-box;
        padding-bottom: 82px;
  }
}
.section--chef{
    padding-left: 20px;
    padding-right: 20px;
}


.section--chef{
    padding-right: 20px;
    @media screen and (min-width: 768px) {
        padding-right: 0;
    }
    @media screen and (min-width: 768px)  and (max-width: 1439px) {
        padding-right: 20;
    }
}

.sectionTitle{
    font-family: $font-family-main;
    font-weight: $font-weight-light;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: $font-size-default;
    line-height: 24px;
    padding-bottom: 15px;

    @media screen and (min-width: $mim-width) {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        padding-bottom: 40px;
    }
}

.sectionTitle--chef{
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 200;
    line-height: 35px;
    @media screen and (min-width:768px) {
        font-family: Helvetica Neue;
        font-weight: 200;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 1.25px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 37px;

        
    }
}
.sectionTitle--chef_restaurant{
    text-align: left;
    max-width: 2000px;
    
     @media screen and (min-width: $mim-width) {
        max-width: $max-desktop-width;
        justify-content: flex-start;
        gap: 24px;
        font-family: Helvetica Neue;
        font-weight: 200;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 1.25px;
        text-transform: capitalize;

    }
   
}



.linkWrapper{
    @include flex(row, flex-start, flex-start,12px);
    width: 100%;

    height: 35px;
    padding-top: 24px;
    padding-bottom: 35px;
    @media screen and (min-width: 768px) {
        justify-content: flex-end;
        gap: 12px;
        width: 100%;
        padding-top: 45px;
        padding-bottom: 25px;
    }
    
}

.linkWrapper--dish{
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.link{
    font-family: $font-family-main;
    font-weight: $font-weight-regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: right;
    text-transform: capitalize;

    @media screen and (min-width: $mim-width) {
        font-size: 24px;
        text-align: right;
        text-transform: capitalize;
    }
}

.linkIcon{
    width: 24px;
    height: 24px;
  object-fit: contain;


}


.carouselOnly {
    display: block;
  
    @media screen and (min-width: $mim-width) {
      display: none;
    }
}
  
.staticOnly {
    display: none;

    @media screen and (min-width: $mim-width) {
        display: block;
        max-width: 1186px;
    }
}

.staticCards {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
}

.staticCards--chef{
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
    gap: 24px;
    margin: 0 auto;
    max-width: $max-desktop-width;
}

.staticCards--chef_restaurant {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
    gap: 24px;
    margin: 0 auto;
    max-width: $max-desktop-width;

    @media screen and (min-width: $mim-width) {
    display: flex;
    align-items: flex-start; 
    margin-left: 0; 
    margin-right: 0; 
  }
}
