@import '../../styles/mixins';
@import '../../styles/variables';

.section{
    background-color: $background-color;
    padding-left: 20px;
    padding-top: 48px;
    padding-bottom: 17px;

    @media screen and (min-width: $mim-width) {
        padding-top: 0;
    }
}
.section--chef_restaurant{
     padding-bottom: 48px;
     @include respond-to(desktop){
        .linkWrapper{
            display:none ;
        }
    }
}

.section--chef{
    padding-right: 20px;
}

.sectionTitle{
    font-family: $font-family-main;
    font-weight: $font-weight-light;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: $font-size-default;
    line-height: 24px;
    padding-bottom: 17px;

    @media screen and (min-width: $mim-width) {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 80px;
    }
}

.sectionTitle--chef_restaurant{
    text-align: left;
    max-width: 2000px;
    
     @media screen and (min-width: $mim-width) {
        max-width: $max-desktop-width;
        margin: 0 auto;
        padding-left: 127px;
        padding-right: 127px;
        justify-content: flex-start;
        gap: 24px;
    }
   
}



.linkWrapper{
    @include flex(row, flex-start, flex-start,12px);
    width: 100%;
    height: 35px;
    padding-top: 18.2px;

    @media screen and (min-width: $mim-width) {
        justify-content: flex-end;
        gap: 12px;
        width: 100%;
        padding-top: 40px;
        padding-right: 127px;
    }
}

.link{
    font-family: $font-family-main;
    font-weight: $font-weight-regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: right;
    text-transform: capitalize;

    @media screen and (min-width: $mim-width) {
        font-size: 24px;
        text-align: right;
        text-transform: capitalize;
    }
}

.linkIcon{
    width: 24px;
    height: 24px;
}


.carouselOnly {
    display: block;
  
    @media screen and (min-width: $mim-width) {
      display: none;
    }
}
  
.staticOnly {
    display: none;

    @media screen and (min-width: $mim-width) {
        display: block;
    }
}

.staticCards {
  max-width: $max-desktop-width;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
  padding-left: 127px;
  padding-right: 127px;

}

.staticCards--chef{
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
    gap: 24px;
    margin: 0 auto;
    max-width: $max-desktop-width;

    @media screen and (min-width: $mim-width) {
        padding-left: 127px;
        padding-right: 127px;
    }

}
.staticCards--chef_restaurant {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
    gap: 24px;
    margin: 0 auto;
    max-width: $max-desktop-width;

    @media screen and (min-width: $mim-width) {
    max-width: $max-desktop-width;
    margin: 0 auto;
    padding-left: 127px;
    padding-right: 127px;
  }
}
